<h5 style="margin-top:20px; padding: 20px;">List of current teams</h5>
<br><table class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">Index</th>
                <th scope="col">Team name</th>
            </tr>
        
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <th scope="row">AS FLACARA FAGET</th>
            </tr>
            <tr>
                <th scope="row">2</th>
                <th scope="row">FC ARSENAL PLOIEST</th>
            </tr>
        </tbody>
    </table>